# Ignore node_modules from host (use container's npm install instead)
node_modules
npm-debug.log

# Ignore Environment files
../.env
../.env.*

# Ignore Git & editor files
.git
.vscode
.idea
.DS_Store
