# Ignore node_modules from host (use container's npm install instead)
node_modules
npm-debug.log

# Ignore Docker files from the root
../docker-compose.yml
../.env
../.env.local

# Ignore database tier
../db
../db-init
../mongodata
../mongo-express

# Ignore Git & editor files
.git
.gitignore
.vscode
.idea
.DS_Store
